p3{font-family: "楷体";font-size: 130%;font-weight: bold;}
p4{font-family: "楷体";font-size: 140%;}
p6{font-family: "楷体";font-size: 200%;font-weight: bold;}
img{float: left;margin: 30px}
body{margin-bottom: 15px;margin-left: 15px;margin-right: 15px}